---
---

@import "{{ site.theme }}";

h2 {
  display: inline-block;
  margin-bottom: 1rem;
}

td {
  font-size: 1.0rem;
}

summary { // "Temporary" hack for h2-inside-summary formatting
  margin-bottom: 1rem;
  font-weight: normal;
  color: #159957;
  display: list-item;
  font-size: 1.2rem;
  cursor: pointer;
}

summary > p {
  display: inline;
}

.page-header {
  padding-bottom: 0em !important;
  a.btn { display: none; }
}

.footnotes {
  font-size: smaller;
}

a {
  cursor: pointer;
}

.x {
  color: red;
  font-size: larger;
  float: left;
}

.symbol {
  float: left;
  margin-top: 1px;
  margin-left: 5px;
}